body {
    font-family: 微软雅黑;

    color: #666;
}

.hide {
    display: none;
}

.red {
    color: #e94643 !important;
}

.green {
    color: #4a9500 !important;
}

.gray {
    color: #a5a5a5 !important;
}


h1 {
    font-size: 0.32rem;
    line-height: 0.92rem;
    text-align: center;

    color: #fff;
    background-color: #e94643;
}

.fund-info {
    position: relative;
    font-weight: normal;
    padding: 0.2rem 0;
    padding-right: 1.7rem;
    padding-left: 0.23rem;
    font-size: 0.32rem;
    line-height: 1;
}

.fund-info .fund-name {
    color: #001111;
}

.fund-info .code {
    font-size: 0.2rem;
    color: #a5a5a5;
}

.fund-info .type {
    font-size: 0.2rem;
    color: #a5a5a5;
    margin-left: 0.2rem;
}
.fund-info .tc {
    top: 0.2rem;
    position: absolute;
    right: 0.25rem;
}
.main-info {
    height: 0.88rem;
    padding-bottom: 0.24rem;
}

.navUnit-box {
    display: table-cell;

    width: 2.13rem;
    border-right: 1px solid #e3e3e3;
}

.main-info .value {
    font-size: 0.26rem;
    line-height: 0.6rem;
    text-align: center;
}

.main-info .des {
    font-size: 0.16rem;
    line-height: 0.28rem;
    text-align: center;
}

.avgReturnYear-box {
    display: table-cell;

    width: 2.13rem;
    border-right: 1px solid #e3e3e3;
}

.infoFirstInvestStyle-box {
    display: table-cell;

    width: 2.12rem;
}

.infoUnityield-box {
    display: table-cell;

    width: 3.19rem;
    border-right: 1px solid #e3e3e3;
}

.infoYearlyroe-box {
    display: table-cell;

    width: 3.2rem;
}
